* {
    background-color: rgb(235, 3, 3);
    color: rgb(12, 12, 12);
    line-height: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

article {
    text-align: center;
    font-size: 2rem;

}
div input {
    background-color: rgb(206, 206, 206);
    height: 2.5rem;
    width: 22rem;
    font-size: 1.8rem;

}

#botonMain {
    background-color: rgb(141, 141, 141);
    height: 2.8rem;
    width: 12rem;
    font-size: 1.8rem;
    padding-bottom: 4rem;
}

div select {
    height: 2.5rem;
    width: 10rem;
    font-size: 2rem;
}

footer div input {
    background-color:rgb(141, 141, 141);
    height: 3rem;
    width: 12rem;
    font-size: 2rem;
    padding-bottom: 3rem;
}
footer div button {
    background-color: rgb(141, 141, 141);
    height: 3rem;
    width: 12rem;
    font-size: 2rem;
    padding-bottom: 3rem;
}

